


/* Begin of reseting browser default  */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End of reseting browser default  */



:root{
    --background-color: rgb(240,238,241);
    --buttons-background-color: rgb(239,239,239);
    --nav-background-color: rgb(255,251,251);
    --hover-addingBooks:rgb(216,216,216)
}
html{
    text-align: center;
    position:relative; 
    min-height: 100%;
  }
body{
    background-color: var(--background-color);
}


h1{
  font-size: 2.5rem;
  padding: 15px;
  font-weight: 900;
  text-align: left;
  padding-left: 15px;
}
h2{
  font-size: 2.5rem;
  padding: 15px;
  font-weight: 900;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    height:100px;
    background-color: var(--nav-background-color);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


  #newBtn-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  
  #newBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    font-size: 25px;
    border-radius: 10px;
    border: none;
  }
  
  #Tasks-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  
  
  /* Book and its contents */ 
  .task {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    justify-content: space-around;
    border-radius: 25px;
    height: 80px;
    width: 750px;
    padding: 15px;
    margin: 20px;
    background-color: white;
  }
  
  .project {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: none;
    border-radius: 25px;
    height: 90px;
    width: 450px;
    padding: 15px;
    margin: 20px;
    background-color: white;
  }

  .title , .titleProject {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .description {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .dueDate {
    font-size: 25px;
    margin-bottom: 20px;
  }
  
  button:focus {outline:0;}
  
  .doneBtn { 
    font-size: 20px;
    height: 35px;
    width: 100px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
  }
  
  #removeBtn {
    font-size: 20px;
    height: 35px;
    width: 50px;
    border-radius: 10px;
    border: none;
    background-color: #d7d9da;
  }
  
  #addBtn, #addBtnProj {
    font-size: 20px;
    height: 55px;
    width: 150px;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
  }
  
  /* Modal popup box  https://www.w3schools.com/howto/howto_css_modals.asp */
  
  /* The Modal (background) */
  input#title , input#titleP {
    height: 30px;
    width: 400px;
    font-size: 20px;
    border:none;
    padding: 8px;
    border-bottom: solid 1px grey;
  }
  input#description {
    height: 30px;
    width: 400px;
    font-size: 20px;
    border:none;
    padding: 8px;

    border-bottom: solid 1px grey;
  }
  input#dueDate {
    height: 30px;
    width: 200px;
    padding: 8px;
    font-size: 20px;
    border:none;
    border-bottom: solid 1px grey;
  }
  #done{
    transform: scale(1.5);
  }
  p label{
    
    font-size: 1.5rem;
    padding-bottom: 5px;
  }
  input[type=checkbox] {
    border:none;
    
    transform: scale(2);
  }

  
  /* Modal Content/Box */
  #form , #formProj{
    background-color: #fefefe;
    border-radius: 10px;
    margin: 15% auto;
    padding: 20px;
    border:none;
    width: 95%; 
    }
    
    /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
    
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }





  .footer{
   
    position: absolute;
    bottom: 0;
    font-size: 1.2rem;
    font-weight: 700;
    left: 0;
    right: 0;
    height:35px;
    
}
.fa-github{
    color: black;
    
}
 

