


/* Begin of reseting browser default  */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End of reseting browser default  */



:root{
    --background-color: rgb(240,238,241);
    --buttons-background-color: rgb(239,239,239);
    --nav-background-color: rgb(255,251,251);
    --hover-addingTasks:rgb(216,216,216)
}
html{
    text-align: center;
    position:relative; 
    min-height: 100%;
  }
body{
    background-color: var(--background-color);
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    height:100px;
    background-color: var(--nav-background-color);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
h1{
    font-size: 2.5rem;
    padding: 15px;
    font-weight: 900;
}


  #newTaskBtn-Container, #newProjBtn-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  
  #newTaskBtn, #newProjBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    font-size: 25px;
    border-radius: 10px;
    border: none;
  }
 
 
.container{
  display: grid;
  grid-template-columns: 2fr 4fr;

}
  
  /* Task and its contents */ 
  .Task {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
    align-items: center;
    border: none;
    border-radius: 25px;
      color: black;
    padding: 15px;
    margin: 20px;
    background-color: white;
    
  }

  .Project{
    display: grid;
    grid-template-columns: 3fr 1fr;
    border: none;
    border-radius: 25px;
    color: black;
    padding: 15px;
    margin: 20px;
    background-color: white;
  }
.dueDate{
    font-size: large;

}
.description{
  font-size: large;
}
  .doneBtn{
    font-size: 20px;
    height: 35px;
    width: 115px;
    border-radius: 10px;
    border: none;
    
  }
  .title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
  }
 
 
  
  button:focus {outline:0;}
  
 
  #removeBtn, #removeProjBtn {
    font-size: 20px;
    height: 35px;
    width: 35px;
    border-radius: 10px;
    border: none;
    background-color:  hsl(0deg 100% 81%);
  }
  
  #addTask, #addProject {
    font-size: 20px;
    height: 55px;
    width: 150px;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
  }
  
 
  

  input#title {
    height: 30px;
    width: 200px;
    font-size: 20px;
    border:none;
    padding: 8px;
    border-bottom: solid 1px grey;
  }
 
  p label{
    
    font-size: 1.5rem;
    padding-bottom: 5px;
  }
 
  #taskPopUp, #projectPopUp {
  
    display: none; /* Hidden by default */
    position: fixed; 
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    font-size: 1.8rem;
    font-weight: 600;
   
  }
  
  /* Modal Content/Box */
  #taskForm, #projectForm {
    background-color: #fefefe;
    border-radius: 10px;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border:none;
    width: 30%; /* Could be more or less, depending on screen size */
    }
    
    /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
    
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }





  .footer{
   
    position: absolute;
    bottom: 0;
    font-size: 1.2rem;
    font-weight: 700;
    left: 0;
    right: 0;
    height:35px;
    
}
.fa-github{
    color: black;
    
}
 

#btnContainers{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
}
